$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@-ms-viewport{
   width: device-width;
}

body {
    background-image: url("../images/pbg.jpg");
   
 // background: white;  
  font-size: 100%;
  color: black;
 // font-family: ‘Roboto Condense’, Arial, serif; font-weight: 400;
}


.page {
   @include box-shadow(rgba(0, 0, 0, .2) 0 0 20px);
 
  background-color: rgba(255, 255, 255, 0.90);
  border: 1px solid #0B0A08;
  margin: 55px 180px auto;
  padding: 25px;
}

.card{ 
  width: 50px;
  height: 100px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.advice{ 
  padding-top: 40px;
  width:"200px";
}

.advice-column{

  font-size: 1.5em;
}
input {
  width: 100%;
  border: 1px solid #999;
  background: #FCFCFC;
  padding: 10px;
}


#hand {
   top: 40px;
   bottom: 40px;
   margin: 0;
   color: black;
   font-family: Helvetica;
   font-size: 55px;
   outline: none;
   padding-bottom: 0px;
   padding-top: 0px;
   border-radius: 6px;
}



@media screen and (min-width: 480px) and (max-width: 922px) {
  .cards{
      margin:0 auto;
  }

  .page{
       margin: 10px 10px auto;
       padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  .cards{
      margin:0 auto;
  }

  .page{
       margin:5px 5px auto;
       padding: 5px;
  }
}



