$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
 
}


@-ms-viewport{
  width: device-width;
}

body {
 background: #bec3cc;  
   font-size: 100%;
 
   color: black;
   font-family: ‘Roboto Condense’, Arial, serif; font-weight: 400;
}

.page{
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
 background-color: #fefdfa;
border: 1px solid #aab123;
    margin:55px 22px auto;
  padding: 25px;
}

.head{
  
 }

.advice{ 
    width:"200px";
}

.advice-column{

  font-size: 1.5em;
}
#results{

    display: none;
}
input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #999;
    background: #fff;
    padding: 10px;
}
#cardButton {
  min-width: 44px;
  min-height: 44px;
  background-color: #33FF00;
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #009900;
  padding: 5px;
}


#hand {
top: 40px;
bottom: 40px;
margin: 0;
color: black;
/* width: 80%; */
/* text-align: center; */
font-family: Helvetica;
font-size: 55px;
outline: none;
padding-bottom: 0px;
padding-top: 0px;
border-radius: 6px;
}


@media screen and (max-width: 480px) {

   .cards{
   margin:0 auto;
  }

   .page{
    margin:5px 5px auto;
  padding: 5px;
  }
}
