<!DOCTYPE HTML>
<div>
<div class="page">
 <div class="head">
   <div class="container-fluid">
     <div class="row">
       <div class="col-xs-12 col-sm-5">
          <h1>Starting Hand 2.0</h1>
           <h4>Call, raise or fold?</h4>
  	</div>

    <div class="col-xs-12 col-sm-7" id="help">
        <div ng-controller="HelpController">
       <div class="well" ng-show="show"> 
           <ul>
           <li>  Step 1: Type e,m,l,b or s representing your position Early, Middle, Late, Big Blind or Small Blind.  </li> 
           <li>  Step 2: Type a,k,q,j,t,9,8,7,6,5,4,3,2 representing your 1st dealt card</li> 
           <li>  Step 3: Type a,k,q,j,t,9,8,7,6,5,4,3,2 representing your 2nd dealt card </li> 
          </ul>
            <a id="hide" ng-click="show =!show">hide</a> 
        </div>
       </div>
    </div> 
  </div>
</div>
   <div ng-controller="PreflopController">
<input id="hand" ng-model="query" maxlength="3" type="text" style="margin-bottom: 10px"  ></input>

  <div  ng-animate="'animate'" ng-repeat="item in items | situationFilter:query" ng-if="$index < 20" class="row">

         <div class="col-xs-12 col-sm-4">
                  <img src="images/classic-cards/{{item.card1}}.png">          
                  <img ng-hide="item.suited" src="images/classic-cards/{{item.card2}}alt.png"/>           
                  <img ng-show="item.suited"  src="images/classic-cards/{{item.card2}}.png"/>             
          </div>  

      <div class="col-xs-12 col-sm-4 advice-column">
          <div class="advice">
          <p>In {{item.positionDisplay}} position with {{item.card1}}{{item.card2}} {{item.suited}}
            you should {{item.unraisedPot}}</p>
            </div>
      </div>
      <div class="col-xs-12 col-sm-4 advice-column">
       <div class="advice">
         <p>When the pot is <b>raised</b> you should {{item.raisedPot}}</p>
         </div>
     </div>

     
  </div>

 
</div>
</div>
</div>