<!DOCTYPE HTML>

<div class="page">
 <div class="head">
   <div class="container">
     <div class="row">
       <div class="col-sm-3">
          <h1>Starting Hand  222affbcd</h1>
           <h4>Call, raise or fold?</h4>
  	</div>

    <div class="col-sm-9" id="help">
       <div class="well"> 
         To get a preflop move suggestion, type the first chararacter of your position followed by your two cards.
        <p>  example: 'ea9' returns a move suggesion for Ace and 9 in early position.</p>
          example 2: 'btk' returns a move suggesion for 10 and king in big blind position.<a id="hide" href="#">hide</a>
        </div>
       </div>
    </div>
  </div>
</div>
   
<input id="hand" type="text" style="margin-bottom: 10px"  ></input>
<div id="results">
	  <div id="app"/>
 </div>


<script id="hand-template" type="text/x-handlebars-template">
{{#each items}} 
        <div class="row"> 
            <div class="col-xs-12 col-sm-4">
               <img src="classic-cards/{{card1}}.png">
           
               {{#if this.showDiffCards}} 
                  <img src="classic-cards/{{card2}}alt.png"/> 
               {{else}}
                   <img  src="classic-cards/{{card2}}.png"/>    
                {{/if}}
           </div>    
      <div class="col-xs-12 col-sm-4 advice-column">
          <div class="advice">
          <p>In {{this.position}} position with {{card1}}{{card2}} {{suited}}
            you should {{this.unraisedPot}}</p>
            </div>
      </div>
      <div class="col-xs-12 col-sm-4 advice-column">
       <div class="advice">
         <p>When the pot is <b>raised</b> you should {{this.raisedPot}}</p>
         </div>
     </div>
     </div>
{{/each}}



</script>



</div>

