<!DOCTYPE HTML>
<div ng-app="cardsApp" 
<div class="page">
 <div class="head">
   <div class="container">
     <div class="row">
       <div class="col-sm-3">
          <h1>Starting Hand 2.0</h1>
           <h4>Call, raise or fold?</h4>
  	</div>

    <div class="col-sm-9" id="help">
       <div class="well"> 
         To get a preflop move suggestion, type the first chararacter of your position followed by your two cards.
        <p>  example: 'ea9' returns a move suggesion for Ace and 9 in early position.</p>
          example 2: 'btk' returns a move suggesion for 10 and king in big blind position.<a id="hide" href="#">hide</a>
        </div>
       </div>
    </div> 
  </div>
</div>
   <div ng-controller="PreflopController">
<input id="hand" ng-model="query" ng-keyup="search()" type="text" style="margin-bottom: 10px"  ></input>

  <div ng-repeat="item in items | situationFilter:query" class="row">

         <div class="col-xs-12 col-sm-4">
               <img src="classic-cards/{{item.card1}}.png">          
                  <img src="images/classic-cards/{{item.card2}}alt.png"/>           
                  <img  src="images/classic-cards/{{item.card2}}.png"/>             
          </div>  

     <div>{{item.card1}}</div> <div>{{item.card2}}</div>

      <div class="col-xs-12 col-sm-4 advice-column">
          <div class="advice">
          <p>In {{item.position}} position with {{item.card1}}{{item.card2}} {{item.suited}}
            you should {{item.unraisedPot}}</p>
            </div>
      </div>
      <div class="col-xs-12 col-sm-4 advice-column">
       <div class="advice">
         <p>When the pot is <b>raised</b> you should {{item.raisedPot}}</p>
         </div>
     </div>

     
  </div>
</div>



</div>

</div>